[Desktop Entry]
Name=Microsoft Project 2007
Encoding=UTF-8
Exec=wine "/home/mmiles/.wine/drive_c/Program Files/Microsoft Office/Office12/WINPROJ.EXE"
Icon=/home/mmiles/.local/share/icons/Office07/proj2007.png
Type=Application
Categories=GNOME;Office;
Name[en_US]=Microsoft Project 2007
