[Desktop Entry]
Name=Microsoft Word 2007
Encoding=UTF-8
Exec=wine "/home/mmiles/.wine/drive_c/Program Files/Microsoft Office/Office12/WINWORD.EXE"
Icon=/home/mmiles/.local/share/icons/Office07/image001.png
Type=Application
Categories=GNOME;Office;
Name[en_US]=Microsoft Word 2007
